
<div class="container">
  <h2 class="faq-head">FAQ’s</h2>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="display-4">What Are Eyelash Extensions?</h4>
      <p class="lead">Eyelash extension is an advanced technique that lengthens and thickens eyelashes. They are single strands of lashes that are curved to replicate a natural eyelash. We use only quality extensions in faux mink and silk. You will feel the difference.</p>
    </div>

    <div class="container">
      <h4 class="display-4">How will they look and feel?</h4>
      <p class="lead">When applied by our skilled technicians they will look completely natural, only much longer and fuller. They will feel like your own eyelashes. We do not count lashes, we will add as many or as few as needed to create the right look for you.</p>
    </div>

    <div class="container">
      <h4 class="display-4">How long will my initial appointment take?</h4>
      <p class="lead">We take an artisan approach with our customers and will not rush your appointment. You can expect your first appointment to take approximately 75-120 minutes. Unlike some salons we do not count eyelashes, a full set is a full set. We will use as many as are needed to create the right look for you. If you are happy, then we are happy.</p>
    </div>

    <div class="container">
      <h4 class="display-4">How long will my Eyelash Extensions Last?</h4>
      <p class="lead">When properly applied and cared for, your eyelash extensions will last for four to six weeks. Please see the Lash Extension aftercare section on how to properly care for your eyelash extensions to maximize longevity.</p>
    </div>

    <div class="container">
      <h4 class="display-4">What is a fill and how often should I get one?</h4>
      <p class="lead">After your initial set of eyelash extensions you will receive instructions on how to care for them. Fills are done every three to four weeks depending on care and how quickly your eyelashes grow. An eyelash extension fill take a shorter time to do and the prices reflect that.</p>
    </div>

    <div class="container">
      <h4 class="display-4">What is a fill and how often should I get one?</h4>
      <p class="lead">After your initial set of eyelash extensions you will receive instructions on how to care for them. Fills are done every three to four weeks depending on care and how quickly your eyelashes grow. An eyelash extension fill take a shorter time to do and the prices reflect that.</p>
    </div>

    <div class="container">
      <h4 class="display-4">Why do I lose some of my eyelashes?</h4>
      <p class="lead">Due to the natural growth cycle of your lashes you will find your natural eyelashes shed every 60-90 days as new ones grows in. We recommend getting a fill every three to four weeks to fill in lashes on the new growth.</p>
    </div>

    <div class="container">
      <h4 class="display-4">Will extensions damage my eyelashes?</h4>
      <p class="lead">Yes and no. Yes, your lashes can be damaged if you go to someone who was not properly trained and uses cheap products not intended for long wear. No, extensions properly applied by a certified, trained technician who uses quality products should not. Our eyelash extension application techniques and innovative aftercare ensures your lash health.</p>
    </div>

    <div class="container">
      <h4 class="display-4">A friend of mine is allergic to the products, is this common?</h4>
      <p class="lead">True allergic reactions do happen, but are rare. If you have developed an allergic reaction you may still wear extensions with some changes made to the aftercare process. What is more common is eye infection due to improperly washing and caring for your lashes. Waiting 24 hours to wash lashes and not washing your eyelashes the entire time you wear them are the most common causes of infections. Imagine not washing the head on your hair for weeks or months. This is the most common reason wearers lose their lashes prematurely.</p>
    </div>

    <div class="container">
      <h4 class="display-4">Can I use eyelash growth products with my extensions?</h4>
      <p class="lead">Lash growth products that contain steroids change the composition of your lashes and accelerate your eyelash shedding cycle, therefore we cannot guarantee the outcome. Natural lash growth products containing peptides are wonderful and will have no adverse effect on the longevity of your extensions.</p>
    </div>

    <div class="container">
      <h4 class="display-4">Will I still need to use mascara?</h4>
      <p class="lead">No, you will not need to use mascara with your lash extensions, but for nights that you want extra drama you can use a water-based mascara. We carry several brands to choose from. We also offer a service to add a semi-permanent mascara that lasts seven to ten days. See the aftercare section below for tips on using mascara.</p>
    </div>
  </div>

</div>




