<div class='home-title'>
  <div class="inner cover front-items">
    <h1 class="cover-heading">ASL Salon</h1>
    <div class="lead lead-items">
      <p>Feeling Beautiful</p>
      <p>Nothing Better</p>
    </div>
    
  </div>
</div>

