<div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
    </div>
    <div class="panel-container">
      <h3 class="blurb">Lashes</h3>
      <div class="panel">
        <h4 class="price-type">Full Set</h4>
        <ul>
          <li>Classic $150</li>
          <li>Volume $200</li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">2wk Fill</h4>
        <ul>
          <li><small>up to 45 min</small></li>
          <li>Classic $45</li>
          <li>Volume $65</li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">3wk Fill</h4>
        <ul>
          <li><small>up to 75 min</small></li>
          <li>Classic $75</li>
          <li>Volume $95</li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Hybrid</h4>
        <ul>
          <li>Add $10 to 2wk fill price</li>
        </ul>
      </div>
    </div>
  </div>
</div>