<div class="container">
  <h2 class="lashcare-head">Lash Care</h2>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="display-4">Now that you have lush lashes take note of these tips to maintain them. With proper care and fills your eyelashes can last indefinitely.</h4>
      <p class="lead">Do not get your eyelashes wet for the first two hours.</p>
    </div>

    <div class="container">
      <p class="lead">Do not use a spa, sauna or pool for the first 24 hours. The extensions need that amount of time to properly bond.</p>
    </div>

    <div class="container">
      <p class="lead">Avoid pulling or rubbing your eyes.</p>
    </div>

    <div class="container">
      <p class="lead">Do not use eyelash curlers with your extensions. With proper application you will not need them.</p>
    </div>

    <div class="container">
      <p class="lead">ONLY use oil-free makeup remover. We carry several brands in our studio and also provide clients with a do-it-yourself eyelash wash. If your eyelashes are tangled or crossed over, use the Spoolie given to you during your appointment to gently brush them straight and put them in place. You can purchase a longer life coating to extend the wear of your lash extensions in between fills.</p>
    </div>

    <div class="container">
      <p class="lead">Proper hygiene is very important. Please keep lashes clean by regular washing. We have a special foaming lash bath eyelash cleanser available online or in our salon.</p>
    </div>

    <div class="container">
      <p class="lead">Use only mascaras that are safe for eyelash extensions, no oil-based or waterproof mascaras. We have extension safe mascaras available for purchase at your appointment, or online. Only apply the mascara to the tips of your lashes.</p>
    </div>

    <div class="container">
      <p class="lead">After showering avoid rubbing lashes, it best to blot them with a towel and let them air dry.</p>
    </div>

    <div class="container">
      <p class="lead">You can also dry the lashes by using a hair dryer on the cool setting and blowing them dry from the bottom up. It makes them curlier and fluffy.</p>
    </div>

    <div class="container">
      <p class="lead">Use care when applying facial and eye creams to avoid the lash line. Too many oil-based products can break down the adhesive.</p>
    </div>

    <div class="container">
      <p class="lead">Sinful Lashes recommends touch-up appointments every two to four weeks to maintain your new eyelash extensions.</p>
    </div>

  </div>

</div>
