<div id="slidePricing">
  <div class="content">
    <div class="blurb-container">
      <img src='hair1.jpeg' alt='hair' width='100%'>
    </div>
    <div class="panel-container">
      <h3 class="blurb">Services</h3>
      <div class="panel">
        <h4 class="price-type">Hair</h4>
        <ul>
          <li>Men's Haircut           $10</li>
          <li>Women's Haircut         $15</li>
          <li>      w/ Style          $20</li>
          <li>Child's Cut             $6</li>
          <li><small>(12 and under)</small></li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Color</h4>
        <ul>
          <li>Permanent Color         $25<small>and up</small></li>
          <li>Semi-Permanent Color    $20<small>and up</small></li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Weave</h4>
        <ul>
          <li>Full                    $60<small> and up</small></li>
          <li>Partial                 $45<small> and up</small></li>
          <li>Sunkist                 $1.50<small> per foil</small></li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Highlights/Cap</h4>
        <ul>
          <li>Short                   $15</li>
          <li>Medium                  $22</li>
          <li>Long                    $30</li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Perms</h4>
        <ul>
          <li>Short                   $20<small> and up</small></li>
          <li>Medium                  $40<small> and up</small></li>
          <li>Long                    $55<small> and up</small></li>
          <li>*Specialty wraps and additional perms $5 each</li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Eyebrows</h4>
        <ul>
          <li>Waxing                  $8</li>
          <li>Color                   $10</li>
          <li>Trim                    $5</li>
        </ul>
      </div>
      <div class="panel">
        <h4 class="price-type">Nails</h4>
        <ul>
          <li>Manicure                 $5</li>
          <li>Pedicure                 $8</li>
          <li>Full Set Acrylics        $25</li>
          <li>Fill                     $20</li>
          <li>Paint                    $2</li>
        </ul>
      </div>
       <div class="panel">
        <h4 class="price-type">Paraffin Wax</h4>
        <ul>
          <li>Hands                     $5</li>
          <li>Feet                      $8</li>
        </ul>
      </div>
       <div class="panel">
        <h4 class="price-type">Waxing</h4>
        <ul>  
          <li>Lip                       $8</li>
          <li>Chin                      $8</li>
          <li>Whole Face                $20</li>
          <li>Half Arm                  $25</li>
          <li>Full Arm                  $40</li>
          <li>Half Leg                  $40</li>
          <li>Full Leg                  $75</li>
          <li>Underarms                 $18</li>
        </ul>
      </div>
    </div>
  </div>
</div> 
